.entryForm__container {
    background-color: rgba(250, 250, 250, 0.8);
    width: fit-content;
    margin: 30px;
    padding: 30px;
    border: 3px solid rgb(33 41 22);
}


.concepts__date{
    display:flex;
    padding: 15px 0;
    justify-content: space-evenly;
}


.mood__entry {
    display:flex;
    padding-bottom: 15px;
}

.button_div{
    display:flex;
}

#recordEntry {
    margin-left: auto;
    margin-top: 12px;
    cursor: pointer;
}

textarea {
    width: 500px;
    height: 275px;
    margin-left: 10px;
}

input[id=journalConcepts] {
    width: 350px;
}