@import "./entries.css";
@import "./entryForm.css";
@import "./footer.css";
@import "./header.css";


body {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    background-image: url(../images/poppy.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h2{
    color: rgb(160 52 84);
    font-family: "andale mono", monospace;
    font-size: 2em;
}








