body {
    margin: 0;
}

header {
    display:flex;
    justify-content: space-between;
    background-color: rgb(33 41 22);
    padding: 20px;
    
}

.logo {
    width: 10em;
}

.title {
    align-self: flex-end;
    color: navajowhite;
    margin-right: 50px;
    flex-basis: 100%;
    text-align: right;
    font-family: "andale mono", monospace;
}

.concepts__date{
    display:flex;
}

.mood__entry {
    display:flex;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    background-color: rgb(33 31 22);
    padding: 20px;
    color: navajowhite;
    font-family: "andale mono", monospace;
}

.all__entries {
    width: 26em;
    align-self: flex-end;
}
main {
    display:flex;
    flex-direction: column;
     /* background-color: rgb(169 158 90); */
     background-image: url(../images/poppy.jpg);
     background;
}
h2{
    color: rgb(160 52 84);
    font-family: "andale mono", monospace;
    font-size: 2em;
}

.entry__all {
    background-color: rgba(250, 250, 250, 0.8);
    width: fit-content;
    margin: 30px;
    padding: 10px 30px 30px 30px;
    border: 3px solid rgb(33 41 22);
}

.all__entries {
    background-color: rgba(250, 250, 250, 0.8);
    margin: 30px 100px;
    padding: 10px 30px 30px 30px;
    border: 3px solid rgb(33 41 22);

}

a:hover {
    color: hotpink;
}

a:visited {
    color: lightgreen;
}

a:link {
    color: coral;
}

input[name=journalEntry] {
    width: 500px;
    height: 300px;
}

input[name=journalConcepts] {
    width: 350px;
}